<article>
    <header>
        <h2>
            {# Pour récupérer une propriété d'un objet, on utilise généralement cette notation : nomDeLaVariable.nomDeSaPropriete #}
            {# Dans les faits, c'est la méthode getTitle() de notre objet Article qui va être appelée, il faut donc qu'elle soit définie. #}
            {{ annonce.titre }}{# on aurait aussi pu écrire article.getTitle() pour bien montrer l'appel au getter #}
        </h2>
        {# Ici, on charge l'image qui se trouve dans le dossier public/chemin/vers/une/image.jpg. L'avantage est que nous n'avons plus à gérer le dossier dans lequel nous nous trouvons, Symfony le fait pour nous #}

    </header>
    {# path nous permet d'avoir le lien (relatif) vers notre article. On utilise généralement le lien relatif car il est plus court à calculer et éviter beaucoup de calculs au navigateur. #}
    {# path prend en premier paramètre le nom d'une route, et en second un "objet" avec les paramètres de la route #}

    {# url prend les mêmes paramètres que path, mais retourne une url absolue #}
    <h2>Chiens disponibles</h2>
    <p> il y a {{ annonce.chiens.count() }} chiens disponibles !</p>
     {% for chien in annonce.chiens %}
         <div class="text-center container d-flex flex">
             {% for photo in chien.photos %}
                 <img src="{{ photo.url }}" alt="{{ photo.nom }}">
             {% endfor %}
         </div>
     {% endfor %}
    <p> races des chiens disponibles : </p>
    <ul>
        {% for chien in annonce.chiens %}

            {% for race in chien.races %}
                <li>{{ race.nom }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    <p>
        mise à jour {{ annonce.dateMaJ }}
    </p>
</article>