

<div class="card my-card my-3 col-3">
    <div class="card-header text-muted">
        <a href="{{path('annonceur_single',{id:annonce.annonceur.id})}}" class="text-reset">
            {{ annonce.annonceur.nom }}
        </a>
    </div>

    {%  if annonce.chiens is not empty  %}
        <img src="{{ annonce.chiens[0].photos[0].url }}" class="card-img-top" alt="">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ annonce.titre }}</h5>
        <p class="text-center"> Il y a <strong> {{ annonce.chiens|length }} </strong> chien(s) disponible(s) !</p>
        <p class="card-text">{{ annonce.description}}</p>
        <p class="card-text">Races des chiens : </p>
        <ul class="">
            {% for chien in annonce.chiens %}
                {% for race in chien.races %}
                    <li>{{ race.nom }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        <a href="{{path('annonces_single_annonce',{id:annonce.id})}}" class="btn btn-primary">Voir +</a>
    </div>
    <div class="card-footer text-muted text-end">
        <i> Modifiée le : {{annonce.dateMaJ|date('d/m/y') }} </i>
    </div>
</div>
