{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}My Doggo Academia Admin{% endblock %}



{% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    {% set admin_url = ea_url()
                        .setController('App\\Controller\\Admin\\AdminCrudController')
                        .setAction('index') %}
                    <a class="nav-link" href="{{ admin_url}}">Page admins</a></li>
                <li class="navbar-item">
                    {% set adoptant_url = ea_url()
                        .setController('App\\Controller\\Admin\\AdoptantCrudController')
                        .setAction('index') %}
                    <a class="nav-link" href="{{ adoptant_url}}">Page adoptants</a>
                </li>
                <li class="navbar-item">
                    {% set adoptant_url = ea_url()
                        .setController('App\\Controller\\Admin\\AnnonceurCrudController')
                        .setAction('index') %}
                    <a class="nav-link" href="{{ adoptant_url}}">Page adoptants</a>
                </li>
                <li class="navbar-item">
                    {% set race_url = ea_url()
                        .setController('App\\Controller\\Admin\\RaceCrudController')
                        .setAction('index') %}
                    <a class="nav-link" href="{{ race_url}}">Page races</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{{path("default_index")}}">Retour à l'accueil</a>
                </li>
            </ul>
        </div>
    </nav>
    {% set admin_url_new = ea_url()
        .setController('App\\Controller\\Admin\\AdminCrudController')
        .setAction('new') %}
    <p><strong>{{nbAdmins}}</strong> Admins enregistrés - <a href="{{ admin_url_new }}">Créer un Admin</a></p>
    {% set adoptant_url_new = ea_url()
        .setController('App\\Controller\\Admin\\AdoptantCrudController')
        .setAction('new') %}
    <p><strong>{{ nbAdoptants }}</strong> Adoptants enregistrés - <a href="{{ admin_url_new }}">Créer un Adoptant</a></p>
    {% set annonceur_url_new = ea_url()
        .setController('App\\Controller\\Admin\\AnnonceurCrudController')
        .setAction('new') %}
    <p><strong>{{ nbAnnonceurs }}</strong> Annonceurs enregistrés - <a href="{{ annonceur_url_new }}">Créer un Annonceur</a></p>
    {% set race_url_new = ea_url()
        .setController('App\\Controller\\Admin\\RaceCrudController')
        .setAction('new') %}
    <p><strong>{{ nbRaces }}</strong> Races de Chiens enregistrées - <a href="{{ race_url_new }}">Créer une Race de Chien</a></p>
{% endblock %}
