{%  extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container">

        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4 d-flex align-items-center">
                {% if adoptant.nom %}
                <h1 class="text-center">Hello {{ adoptant.nom}} !</h1>
                {% else %}
                <h1 class="text-center">Hello !</h1>
                {% endif %}
            </div>
        </div>

        <h2 class="">Vos demandes d'adoption : </h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Titre de l'annonce</th>
                <th scope="col">Chiens concernés</th>
                <th scope="col">Date de création</th>
                <th scope="col">Destinataire</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for demande in demandesAdoption %}
                <tr>
                    <td>{{ demande.annonce.titre }}</td>
                    <td>
                        {% for chien in demande.chiens %}
                            {{ chien.nom }}
                        {% endfor %}
                    </td>
                    <td>{{ demande.dateCreation|date('d/m/y') }}</td>
                    <td>{{ demande.annonceur.nom }}</td>
                    <td>
                        <a href="{{path('single_demande_adoption',{id:demande.id}) }}" class="btn btn-outline-primary">Voir la demande</a>
                        {% if demande.isThereUnreadMessages(app.user) == false %}
                            <a href="{{path('messages_list',{id:demande.id}) }}" class="btn btn-outline-primary">Voir les messages</a>
                        {% else %}
                            <a href="{{path('messages_list',{id:demande.id}) }}" class="btn btn-primary position-relative">
                                Voir les messages
                                <span class="badge bg-secondary">{{ demande.nbUnreadMessages(app.user) }}</span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        <div class="row">
            <div class="col-4">
                <h2>Vos informations : </h2>
            </div>
            <div class="col-4"></div>
            <div class="col-4 text-end">
                <a class=" btn btn-primary" href="{{ path("adoptant_update") }}">Modifier vos informations</a>
            </div>
        </div>
        <br>
        {% if adoptant.nom %}
        <h5>{{ adoptant.nom }}</h5>
        {% endif %}

        <br>
        <p>Email : {{ adoptant.email }}</p>
        {% if adoptant.adresse and adoptant.ville %}
            <p>{{ adoptant.adresse }} {{ adoptant.ville.nom }} {{ adoptant.ville.codePostal }}</p>
        {% endif %}
        {% if adoptant.telephone %}
            <p>{{ adoptant.telephone }}</p>
        {% endif %}
    </div>


{% endblock %}