{% extends 'base.html.twig' %}

{% block body %}

    <div class="container d-flex align-center justify-content-center" style="height:80vh">

        <div class="col-md-4 d-flex align-items-center">

            {{ form_start(form) }}

            {{ form_row(form.email) }}

            {{ form_row(form.password) }}

            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Valider</button>
            
            {{ form_end(form) }}

        </div>

    </div>


{% endblock %}
