<div class="card col m-2">
    <header>
        <h2 class="text-center">{{ chien.nom }}</h2>
    </header>

    <div class="row">
        {% for photo in chien.photos %}
            <img class="col-6 my-2" src="{{ photo.url }}" alt="{{ photo.nom }}">
        {% endfor %}
    </div>

    <div class="card-body">
        <div class="row">
            <p class="col text-center"><strong>Age :</strong> {{ chien.age }} ans</p>
            <p class="col text-center"><strong>Taille :</strong> {{ chien.taille }} cm</p>
        </div>
        <div class="row">
            <p class="col text-center"><strong>Poids :</strong> {{ chien.poids }} kg</p>
            <p class="col text-center"><strong>Sexe :</strong> {{ chien.sexe }}</p>
        </div>

        {% if chien.sociable %}
            <p class="text-center">Chien sociable</p>
        {% endif %}

        <p><strong>Description :</strong> <br> {{ chien.description }}</p>
        <p><strong>Antecedents :</strong> <br> {{ chien.antecedents }}</p>

        {% if chien.lof %}
            <h5 class="text-center">Inscrit au LOF</h5>
        {% endif %}

        <p><strong>Races : </strong>
            <br>
            {% for race in chien.races %}
                {{ race.nom }}
                <br>
            {% endfor %}
        </p>
    </div>
    {% if chien.adopte %}
        <p class="text-center">Adopté</p>
    {% else %}
        {% if app.user == chien.annonce.annonceur and is_granted('ROLE_ANNONCEUR') %}
            <a href="{{ path("chien_adopter",{id:chien.id}) }}" class="btn btn-primary btn-lg">Marquer comme adopté</a>
        {% endif %}
    {% endif %}
</div>