{# {% if message.expediteur == app.user %}
<div class="card col-md-6 my-card">
<div class="card-body" style="background-color: royalblue">
{% endif %}

{% if message.destinataire == app.user %}
<div class="card col-md-6 my-card" style="margin-left:auto">
<div class="card-body" style="background-color: seagreen">
{% endif %}
            <ul style="list-style-type: none">
                <li class="list-group-item">Expediteur : {{ message.expediteur }}</li>
                <li class="list-group-item">Destinataire : {{ message.destinataire }}</li>
                <li class="list-group-item">Date d'envoi : {{ message.dateEnvoi|format_datetime(locale='fr') }}</li>
                <li class="list-group-item">{{ message.contenu }}</li>
            </ul>
        </div>
    </div> #}
<div class="col-md-6 my-card" {% if message.destinataire == app.user %}style=" margin-left:auto; "{% endif %}>
    <div class="text-start">{{message.expediteur}}</div>
    <div
        style="
            min-height: 2em; 
            border-radius: 5px;
            {{ message.expediteur == app.user ? 'background-color: royalblue;' : 'background-color: seagreen;' }}
        ">
        <div class="p-2 text-light">{{message.contenu}}</div>
    </div>
    <div class="text-end text-muted">{{ message.dateEnvoi|format_datetime(locale='fr') }}</div>
</div>